{% extends 'master.html' %}
{% block content %}
	<h1 class="text-info text-center">Paying for {{ product.name }}</h1>
    <h1 class="text-info text-center">ksh. {{ product.price }}</h1>
    <form class="row mx-auto col-10 col-md-8 col-lg-6 d-flex flex-column" method="POST" action="/pay/{{ product.id }}">
        {% csrf_token %}
        <input  class="form-control mb-4" required placeholder="Enter phone number (2547...)" name="phone-number" type="text"><br><br>
        <input class="btn btn-outline-info" value="pay" type="submit">
    </form>
{% endblock %}